[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "*"
djongo = "*"
tornado = "*"
tornado-celery = "*"
pymongo = "*"
motor = "*"

[dev-packages]

[requires]
python_version = "3.6"
